:root {
    --color-background: #ffffff;
    --color-background-seccion: #29282c;
    --color-texto-primario: #29282c;
    --color-texto-secundario: #ffffff;
    --color-texto-navbar: #f7bb0e;
    --background-button: #f00000;
    --font: "Roboto", sans-serif;
    --font-size-title: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

/*  Primera sección */
.lastMovies {
    margin: 0;
    padding: 0;

}

/* Contenedor principal */
.containerLastMovies {
    max-width: 1200px; /* Ancho fijo */
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex; /* Utiliza Flexbox */
    justify-content: center; /* Centra verticalmente */
    align-items: center;
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
}

/* Sección izquierda (50%) */
.left-section-movies {
    width: 50%;
    padding: 20px;
    background-color: var(--color-background);
}

/* Título */
.titleMovies {
    font-size: var(--font-size-title);
    padding-left: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

 /* Características con bullets */
 .features li {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 24px;
    margin: 20px 0;
    color: var(--color-texto-primario);
}

/* Sección derecha (50%) */
.right-section {
    width: 50%;
    padding: 0;
    background-color: var(--color-background);
}

/* Imagen */
.image {
    max-width: 100%;
    height: auto;
    padding: 35px;
}


/*  Segunda Sección */
.festivales {
    margin-top: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--color-background-seccion);
}

.titleFestivales {
    font-size: var(--font-size-title);
    padding: 20px;
    text-align: center;
    color: var(--color-texto-secundario);
}

.conteinerFestivales {
    max-width: 1200px;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardFestivales {
    width: calc(50% - 20px);
    /* Resta 20px para el margen entre las tarjetas */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.cardFestivales img {
    max-width: 50%;
    height: 150px;
    margin-right: 20px;
}

.card-content {
    flex: 1;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-button {
    background-color: var(--background-button);
    color: var(--color-texto-secundario);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/* Galeria */
.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
}

.titleGaleria {
    font-size: var(--font-size-title);
    padding: 20px;
    text-align: center;
    color: var(--color-texto-primario);
}

.gallery-row {
    display: flex;
    justify-content: space-between;
}

.gallery-item {
    flex-basis: calc(33.33% - 10px); /* Espacio entre las imágenes */
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery-item p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: var(--color-texto-primario);
}