:root {
    --color-background: #ffffff;
    --color-background-seccion: #29282c;
    --color-texto-primario: #29282c;
    --color-texto-secundario: #ffffff;
    --color-texto-navbar: #f7bb0e;
    --background-button: #f00000;
    --font: "Roboto", sans-serif;
    --font-size-title: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color: var(--color-background);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--background-button);
    font-size: 1.3rem;
}

a:hover {
    color: #f7bb0e;
}

/*  Header */
header {
    position: relative;
    /*padding: 0 2rem;*/
    background-color: #333;
    max-width: 100%;
    /*margin: 2rem auto;*/
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    margin: 0 auto;
    padding: 0 15px;
    top: 0;
    backdrop-filter: blur(10px);
}

.navbar .logo a {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    color: #000;
}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*  Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* Estilos para el hero section */
 .containerHero {
    height: 100vh;
    background-image: url('/Assets/Iconos/Cadeira_do_cineasta_do_cinema_brasileiro.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-texto-navbar);
    text-align: center;
}

.containerHero h1 {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}

.containerHero p.textHero {
    font-size: 2.5rem;
    font-weight: 600;
    width: 800px;
}


/* Estilos para el historia seccion */
.main-section-historia {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1200px;
    display: flex;
    align-items: center;
}

.left {
    flex: 1;
    padding: 20px;
}

.left img {
    max-width: 100%;
    height: auto;
    display: block;
}

.right {
    flex: 1;
    padding: 20px;
}

.right h1.titleHistoria {
    font-size: 2rem;
    margin-bottom: 10px;
}

.right p {
    font-size: 1rem;
    color: var(--color-texto-primario);
}


/* Estilos para la seccion de peliculas*/
.main-section-peliculas {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-seccion);
}

/* Estilos para el título */
.section-title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    color: var(--color-texto-secundario);
}

/* Estilos para el contenedor */
.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

/* Estilos para las tarjetas */
.cardPeliculas {
    flex: 1;
    padding: 20px;
    text-align: left;
    height: 80%;
}

.cardPeliculas img {
    max-width: 100%;
    height: 50vh;
    display: block;
    margin-bottom: 10px;
}

.cardPeliculas h2.titlePelicula {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-texto-secundario);
}

.cardPeliculas p.infoPelicula {
    font-size: 1rem;
    color: var(--color-texto-secundario);
}

.cardPeliculas p.textoCardPelicula {
    font-size: 1rem;
    color: var(--color-texto-secundario);
    margin-bottom: 10px;
}

.cardPeliculas button {
    background-color: var(--background-button);
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.cardPeliculas button:hover {
    background-color: var(--color-background-seccion);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


/* Estilos para la seccion de directores*/
.main-section-directores {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
}

.titleDirector {
    font-size: 2.5rem;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cardDirector {
    width: calc(33.33% - 20px);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    height: 600px;
}

.cardDirector img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.cardDirector h3.nombreDirector {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.card p.textoDirector {
    font-size: 14px;
    color: var(--color-texto-primario);
}


/* Estilos para el footer */
footer {
    background-color: var(--color-background-seccion);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los íconos de redes sociales */
.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 32px;
    color: var(--color-background);
    text-decoration: none;
    transition: transform 0.2s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: var(--color-texto-navbar);
}












/* Reponsive Design */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}