:root {
    --color-background: #ffffff;
    --color-background-seccion: #29282c;
    --color-texto-navbar: #f7bb0e;
    --background-button: #f00000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ffffff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

a:hover {
    color: #f7bb0e;
}

/*  Header */
header {
    position: relative;
    padding: 0 2rem;
    background-color: #333;
}

.navbar {
    /*width: 100%;*/
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    /*position: fixed;*/
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    color: #000;
}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*  Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section */
section.container {
    background-image: url("/Assets/Iconos/Cadeira_do_cineasta_do_cinema_brasileiro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

section#hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

#hero h1 .titleHero {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.titleHero {
    color: #f7bb0e;
    font-size: 100px;
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
}

p.textHero {
    margin-top: 20px;
    color: #f7bb0e;
    font-weight: bold;
}

#hero p {
    font-size: 3rem;
}

/*  Primera seccion */
.containerHistoria {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    flex: 60%;
    padding: 20px;
}

.image img {
    width: 720px;
}

.textoHistoria {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
h2 {
    font-size: 2rem;
} 

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Tarjetas Section */
/*section#segunda {
    background-color: wheat;
}*/

/*.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: darkgrey;
}*/

/*.card {
    flex: 1;
    width: 270px;
    background-color: #f0f0f0;
    margin-left: 10px;
    height: 625px;
    border-radius: 15px;
}*/

.card img {
    width: 350px;
    height: 380px;
    margin-bottom: 15px;
    /*background-size: cover;*/
    border-radius: 15px 15px 0 0;
}

.card h2 {
    padding: 10px;
}

.card h3 {
    padding: 10px;
}

.card p {
    padding: 10px;
    
}

/*.card .btn {
    display: block;
    padding: 15px 20px;
    background-color: #333;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px 50px;
    color: #ffffff;
}*/

.card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

/* Section Peliculas */
.movies {
    margin: 0;
    padding: 0;
    background-color: var(--color-background-seccion);
}

.titleMovies {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    padding: 25px;
}

.containerMovies {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.card {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    height: 750px;
}

.card img {
    max-width: 100%;
    border-radius: 5%;

}

.card h2 .title {
    font-size: 1rem;
    /*margin: 10px 0;*/
}

.card h3 .subtitle {
    font-size: 1rem;
   /*margin: 10px 0;*/
}

.card p {
    font-size: 1rem;
    color: #111;
}

.card button {
    display: block;
    padding: 10px 20px;
    background-color: #f00000;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px 50px;
    color: #ffffff;
    border: none;
    width: 80%;
    font-size: 1.5rem;
}

.card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


/* Directores */
.directores {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-color: #ffffff;
}

.containerDirectores {
    width: 1200px;
    display: flex;
    gap: 15px;
}

.cardDirector {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /*text-align: center;*/    
}

.cardDirector img {
    width: 100%;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin-bottom: 10px;
}


.cardDirector h2.titleDirector {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}

.cardDirector p.textoDirector{
    font-size: 1rem;
    color: var(--color-background-seccion);
    margin: 10px;
}
/* Footer */
footer {
    background-color: black;
}

.footerContainer {
    width: 100%;
    padding: 10px 20px 10px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: -5px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.socialIcons a i {
    font-size: 1em;
    color: black;
    opacity: 0.9; 
    width: 25px;
    height: 25px;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition:0.5s
}

/* Reponsive Design */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}